fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-google-genai
google-genai
qdrant-client
pypdf
langchain-text-splitters
python-dotenv
python-multipart
websockets
tiktoken
pydantic
httpx
orjson
aiofiles